/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #261725;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

/* Corner */
::-webkit-scrollbar-corner {
    background: #261725;
}

body {
    background-color: #17181a;
}

.error {
    color: red;
}

.console {
    height: 30vh;
    margin-top: 1em;
    overflow: scroll;
    color: white;
    background: #202124;
    padding: 0;
}

.btn {
    width: 100%;
    padding: 0.7em 1em;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: red;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(255, 86, 86);
    cursor: pointer;
}

.btn.btn-clear {
    background-color: #3e4045;
}

.btn.btn-clear:hover {
    background-color: #5a5d64;
    cursor: pointer;
}